body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homebg {
  background-image: url("./images/Wallpaper.png");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  background-position: "center";
}

.home-sec {
  margin-top: 20px;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  /* text-align: center; */
  color: white;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 40px 12px;
}
.navbar a {
  /* float: left; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 20px;
  /* border-bottom: 5px solid #A90909; */
}

.navbar a:hover {
  border-bottom: 3px solid #a90909;
}

.navbar a.active {
  border-bottom: 3px solid #a90909;
}

.textred {
  color: #a90909;
}

.coll {
  width: 30.33%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  border-bottom-style: 5px solid #a90909;
}

.amovies {
  padding-left: 60px;
}

.cmovies {
  padding-left: 60px;
}

.register {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #a90909;
  margin-left: 6px;
  font-family: "Poppins";
}

.login {
  border-radius: 5px;
  padding: 0px 25px 0px 25px;
  background-color: transparent;
  margin-left: 50px;
  border: 2px solid #ffffff;
  font-family: "Poppins";
}

.moyo {
  width: 15em;
  height: 60px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.body_text1 {
  margin: 13rem auto 5px 20px;
  height: 50%;
  width: 30%;
}

.view {
  background-color: #a90909;
  border: none;
  margin-top: 70px;
  margin-left: 19px;
  padding: 6px 12px 6px 12px;
  text-align: center;
  text-transform: uppercase;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bi-search {
  font-size: 17px;
  color: white;
}

.slides {
  display: flex;
  height: 720px;
  /* width: 504px; */
  left: 0px;
  top: 0px;
  border-radius: 0px;

  background: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0) 0%,
    rgba(29, 29, 29, 0.8) 80.79%
  );
}
.home {
  /* border-bottom: 5px solid #A90909; */
  width: 45px;
  display: block;
}

.list {
  margin: 10% auto;
}

.container2 {
  display: block;
  position: absolute;
  background: linear-gradient(
    254.73deg,
    #000000 19.41%,
    rgba(0, 0, 0, 0.57) 65.43%,
    #000000 87.9%,
    rgba(0, 0, 0, 0) 107.83%
  );
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

img {
  margin-left: 10px; /* Horizontal Space */
}

.searchbtn {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  height: 150px;
  padding: 10px;
}

.searchbtn i {
  border-radius: 40px;
  border: 0;
  box-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke;
  padding: 0;
  width: 0;
  height: 15px;
  transition: padding 0.6s ease-in-out, width 0.6s ease-in-out;
}

.searchbtn:hover > i {
  display: inline-block;
  border-radius: 40px;
  width: 170px;
  outline: none;
  color: whitesmoke;
  padding: 8px;
  border: 1px solid whitesmoke;
}

.row {
  display: flex;
  position: relative;
}

#text-on-image {
  position: absolute;
  right: 50%;
  left: 1%;
  top: 80%;
  color: #a90909;
}

#text-on-image:hover {
  text-decoration: underline;
}

.aboutContainer {
  position: static;
  width: 100%;
  height: 1728px;
  background: linear-gradient(
    231.73deg,
    #000000 19.41%,
    rgba(0, 0, 0, 0.85) 65.43%,
    #000000 87.9%,
    rgba(0, 0, 0, 0) 107.83%
  );
}

.about img {
  position: relative;
  width: 30%;
  margin-top: 9%;
  margin-left: 2%;
}

.imageContainer {
  position: relative;
}

#aboutText {
  position: absolute;
  top: 86%;
  left: 2.5%;
  font-size: 50px;
}

.wwText button {
  position: absolute;
  top: 80%;
  left: 20.5%;
}

.other {
  position: static;
  top: 45rem;
}

.view-trailer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 30%;
  left: 140%;
  border-radius: 10px;
}

.aboutTable {
  position: absolute;
  top: 10em;
  left: 50%;
}

#stars {
  position: absolute;
  top: 0px;
  left: 70%;
}

#date {
  position: absolute;
  top: 50%;
  left: 70%;
}

#price {
  position: absolute;
  top: 62%;
  left: 70%;
}

#country {
  position: absolute;
  top: 73%;
  left: 70%;
}

#genre {
  position: absolute;
  top: 84%;
  left: 68%;
}

.postC {
  position: relative;
  width: 190px;
  height: 50px;
  left: 50%;
  bottom: 190px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background: #d7d7d7;
  border-radius: 10px;
}

textarea {
  width: 25em;
  height: 10em;
  margin-top: 40px;
  color: black;
}
input {
  width: 25em;
  margin-top: 80px;
  color: black;
}

.form2 {
  width: 40%;
  position: absolute;
  top: 115%;
  right: 30%;
  background-color: white;
  opacity: 90%;
  border-radius: 5%;
  text-align: center;
  padding: 30px 20px 90px 20px;
}

#submit {
  background-color: #a90909;
  border: none;
  border-radius: 7px;
  font-family: "Poppins";
  font-style: normal;
  margin-top: 30px;
  color: #ffffff;
}


.createContainer {
  width: 110%;
  height: 1428px;
  background: linear-gradient(
    231.73deg,
    #000000 19.41%,
    rgba(0, 0, 0, 0.85) 65.43%,
    #000000 87.9%,
    rgba(0, 0, 0, 0) 107.83%
  );
}

label {
  position: absolute;
  color: white;
  display: inline-block;
}

#col2,
#col4,
#col5,
#col6,
#col7,
#col8 {
  line-height: 5rem;
}

#test {
  display: flex;
  margin-left: 18%;
}

#col4 input {
  width: 90%;
  border-radius: 30px;
}

.col {
  position: absolute;
  left: 20%;
  right: 20%;
  width: 800px;
  margin: 10% auto;
  border-radius: 30px;
  text-align: center;
  padding: 50px;
}

#textC {
  position: absolute;
  top: 18%;
  left: 45%;
  font-weight: normal;
  font-family: "Poppins";
  font-size: 30px;
}

#formC {
  max-width: 100%;
}

.loginForm {
  position: absolute;
  top: 30%;
  left: 35%;
  line-height: 5rem;
}

.xbtn {
  margin-left: 35%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 55%;
  color: #000000;
  font-size: 20px;
 
}

.postHeader {
  display: flex;
  margin-left: 110px;
}

.postHeader h2{  
    color: #000000;
    margin-left: 25%;
    text-align: center;
 
  
}
#text{
  color: #000000;
}


.bi-check-circle-fill{
  height:1rem;
font-size: 3.85em;
  color: #a90909;
}